USE [QUANLYTHUVIEN]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 10/23/2025 3:47:17 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUser]') AND type in (N'U'))
DROP TABLE [dbo].[tblUser]
GO
/****** Object:  Table [dbo].[tblMenu]    Script Date: 10/23/2025 3:47:17 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblMenu]') AND type in (N'U'))
DROP TABLE [dbo].[tblMenu]
GO
/****** Object:  Table [dbo].[AdminMenu]    Script Date: 10/23/2025 3:47:17 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdminMenu]') AND type in (N'U'))
DROP TABLE [dbo].[AdminMenu]
GO
USE [master]
GO
/****** Object:  Database [QUANLYTHUVIEN]    Script Date: 10/23/2025 3:47:17 PM ******/
DROP DATABASE [QUANLYTHUVIEN]
GO
/****** Object:  Database [QUANLYTHUVIEN]    Script Date: 10/23/2025 3:47:17 PM ******/
CREATE DATABASE [QUANLYTHUVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYTHUVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYTHUVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYTHUVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYTHUVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYTHUVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYTHUVIEN]
GO
/****** Object:  Table [dbo].[AdminMenu]    Script Date: 10/23/2025 3:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminMenu](
	[AdminMenuID] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[ItemLevel] [int] NOT NULL,
	[ParentLevel] [int] NOT NULL,
	[ItemOrder] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[ItemTarget] [nvarchar](20) NULL,
	[AreaName] [nvarchar](20) NULL,
	[ControllerName] [nvarchar](20) NULL,
	[ActionName] [nvarchar](20) NULL,
	[Icon] [nvarchar](50) NULL,
	[IdName] [nvarchar](50) NULL,
 CONSTRAINT [PK_AdminMenu] PRIMARY KEY CLUSTERED 
(
	[AdminMenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMenu]    Script Date: 10/23/2025 3:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMenu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ControllerName] [nvarchar](50) NOT NULL,
	[ActionName] [nvarchar](50) NOT NULL,
	[Levels] [int] NOT NULL,
	[ParentID] [int] NOT NULL,
	[Link] [nvarchar](50) NULL,
	[MenuOrder] [int] NULL,
	[Position] [int] NULL,
 CONSTRAINT [PK_tblMenu] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 10/23/2025 3:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Role] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Avatar] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminMenu] ON 

INSERT [dbo].[AdminMenu] ([AdminMenuID], [ItemName], [ItemLevel], [ParentLevel], [ItemOrder], [IsActive], [ItemTarget], [AreaName], [ControllerName], [ActionName], [Icon], [IdName]) VALUES (2, N'Quản lý người dùng', 1, 0, 1, 1, N'nav-user', N'Admin', N'User', N'Index', NULL, N'nav-user')
INSERT [dbo].[AdminMenu] ([AdminMenuID], [ItemName], [ItemLevel], [ParentLevel], [ItemOrder], [IsActive], [ItemTarget], [AreaName], [ControllerName], [ActionName], [Icon], [IdName]) VALUES (4, N'Quản lý sách', 1, 0, 1, 1, N'nav-book', N'Admin', N'Book', N'Index', NULL, N'nav-book')
INSERT [dbo].[AdminMenu] ([AdminMenuID], [ItemName], [ItemLevel], [ParentLevel], [ItemOrder], [IsActive], [ItemTarget], [AreaName], [ControllerName], [ActionName], [Icon], [IdName]) VALUES (5, N'Quản lý phiếu mượn', 1, 0, 1, 1, N'nav-card', N'Admin', N'Car', N'Index', NULL, N'nav-card')
SET IDENTITY_INSERT [dbo].[AdminMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([UserID], [UserName], [Password], [FullName], [Email], [IsActive], [DateOfBirth], [Role], [Phone], [CreatedDate], [Avatar]) VALUES (1, N'admin', N'admin@123', N'Nguyễn Văn Quản Trị', N'admin@libsmart.com', 1, CAST(N'1988-05-15T00:00:00.000' AS DateTime), N'admin', N'0909123456', CAST(N'2025-10-22T17:42:05.830' AS DateTime), N'/uploads/avatars/admin.jpg')
INSERT [dbo].[tblUser] ([UserID], [UserName], [Password], [FullName], [Email], [IsActive], [DateOfBirth], [Role], [Phone], [CreatedDate], [Avatar]) VALUES (4, N'huynhngocanh', N'pass123', N'Huỳnh Ngọc Ánh', N'anh.huynh@gmail.com', 1, CAST(N'1998-11-02T00:00:00.000' AS DateTime), N'user', N'0934567890', CAST(N'2025-10-22T17:42:05.830' AS DateTime), N'/uploads/avatars/user3.jpg')
INSERT [dbo].[tblUser] ([UserID], [UserName], [Password], [FullName], [Email], [IsActive], [DateOfBirth], [Role], [Phone], [CreatedDate], [Avatar]) VALUES (5, N'tranvanbao', N'pass123', N'Trần Văn Bảo', N'bao.tran@gmail.com', 1, CAST(N'1992-07-19T00:00:00.000' AS DateTime), N'user', N'0903456789', CAST(N'2025-10-22T17:42:05.830' AS DateTime), N'/uploads/avatars/user4.jpg')
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
USE [master]
GO
